<div ng-hide="authenticated" class="form-group">
    <div>
        <div class="row">
            <div class="col-xs-2">
                <label for="username">Имя</label>
            </div>
            <div class="col-xs-4">
                <input type="text" id="username" ng-model="username" class="form-control" ng-keyup="keyHandler($event, authenticate)">
            </div>
        </div>
        <div class="row">
            <div class="col-xs-2">
                <label for="password">Пароль</label>
            </div>
            <div class="col-xs-4">
                <input type="password" id="password" ng-model="password" class="form-control" ng-keyup="keyHandler($event, authenticate)"/>
            </div>
        </div>
        <div class="row">
            <button type="button" ng-click="authenticate()" class="btn btn-default">
                Подключиться
            </button>
        </div>
    </div>
</div>
<div ng-show="authenticated" style="width: 60%">
    <div class="textarea" ng-bind-html="messageLog()"></div><br />
    <textarea rows="3" cols="50" class="form-control" ng-model="message" ng-keyup="keyHandler($event, sendMessage)"></textarea>
    <div class="span2">
        <button type="button" ng-click="sendMessage()" class="btn btn-default">
            Отправить
        </button>
    </div>
</div>