.textarea {
    -moz-appearance: textfield-multiline;
    -webkit-appearance: textarea;
    border: 1px solid gray;
    overflow: auto;
    padding: 2px;
    resize: both;
    width: 100%;
    height: 100%;
    min-height: 150px;
}

.message-username {
    color: #0000DD;
    font-weight: bold;
}

.message-my-username {
    color: #00AA00;
    font-weight: bold;
}

.message-system-username {
    color: #DD0000;
    font-weight: bold;
}

.message-time {
    color: black;
}

.message-text {
    color: #080808;
}