<section>
	<ul class="nav">
		<li ng-class="{active: logic.isSelected(1)}"><a href
			ng-click="logic.setTab(1)">Description</a></li>
		<li ng-class="{active: logic.isSelected(2)}"><a href
			ng-click="logic.setTab(2)">Type</a></li>
		<li ng-class="{active: logic.isSelected(3)}"><a href
			ng-click="logic.setTab(3)">Specification</a></li>
		<li ng-class="{active:logic.isSelected(4)}"><a href
			ng-click="logic.setTab(4)">Reviews</a></li>
	</ul>
	<product-tabs-content></product-tabs-content>
</section>