<div ng-show="logic.isSelected(1)">
	<h4>Description</h4>
	<blockquote>{{product.description}}</blockquote>
</div>
<div ng-show="logic.isSelected(2)">
	<h4>Type</h4>
	<blockquote>{{product.type}}</blockquote>
</div>
<div ng-show="logic.isSelected(3)">
	<h4>Specification</h4>
	<blockquote>{{product.spec}}</blockquote>
</div>
<div style="margin-left: 5em;" ng-show="logic.isSelected(4)">
	<h4>Reviews</h4>
	<div ng-repeat="review in product.reviews">
		<strong>{{review.stars}} Stars</strong><br> {{review.body}}<br>
		<cite class="clearfix">-{{review.author}} on {{review.createdOn | date}}
	</div>

	<br>
	<reviews-tab></reviews-tab>
</div>