<div ng-controller="ReviewController as reviewCtrl">
	<div style="display: inline-block">
		<h4>Submit a review</h4>
		<form name="reviewForm"
			ng-submit="reviewForm.$valid && reviewCtrl.addReview(product)"
			novalidate>
			<fieldset>
				<select ng-model="reviewCtrl.review.stars"
					ng-options="stars for stars in [5,4,3,2,1]" title="Stars" required>
					<option value="">Rate this review</option>
				</select>
				<fieldset>
					<fieldset>
						<textarea ng-model="reviewCtrl.review.body"
							placeholder="Write short review on this post..." required></textarea>
					</fieldset>
					<fieldset>
						<input type="email" ng-model="reviewCtrl.review.author"
							placeholder="Write your email..." required>
					</fieldset>
					<input type="submit" />
		</form>
	</div>
	<div
		style="display: inline-block; vertical-align: top; margin-left: 3em;">
		<h7>Live preview</h7>
		<blockquote>
			<strong>{{reviewCtrl.review.stars}} Stars</strong>
			{{reviewCtrl.review.body}}<br> <cite class="clearfix">-{{reviewCtrl.review.author}}
				on {{reviewCtrl.review.createdOn | date}} 
		</blockquote>
	</div>
</div>